@import "tailwindcss";
@plugin "daisyui";
@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient {
  background: linear-gradient(270deg, #38bdf8, #3b82f6, #6366f1, #8b5cf6);
  background-size: 800% 800%;
  animation: gradientBG 8s ease infinite;
  color: white;
  transition: transform 0.3s ease, animation-duration 0.3s ease;
}

.animate-gradient:hover {
  transform: scale(1.05);       
  animation-duration: 4s;      
}